---
import { getCollection } from "astro:content";
import Bio from "../../components/Bio.astro";
import Comments from "../../components/Comments.svelte";
import FormattedDate from '../../components/FormattedDate.astro';
import BaseLayout from "../../layouts/BaseLayout.astro";

export async function getStaticPaths() {
  const blog = await getCollection("blog");
  return blog.map((entry) => ({
    params: { slug: entry.slug },
    props: { entry },
  }));
}

const { entry } = Astro.props;
const { Content, remarkPluginFrontmatter } = await entry.render();
const { title, description } = remarkPluginFrontmatter;
---

<BaseLayout
  title={title}
  description={description}
  current="blog"
>
  <header>
    <p><FormattedDate date={entry.data.publishDate} /> ~ {remarkPluginFrontmatter.minutesRead}</p>
    <h1>{title}</h1>
    <hr />
  </header>
  <div class="container">
    <article class="content">
      <Content />
    </article>
    <hr />
    <Comments client:only="svelte" />
    <hr />
    <Bio />
  </div>
</BaseLayout>

<style>
  header {
    text-align: center;
  }

  header h1 {
    margin-bottom: 0.7em;
  }

  header p {
    color: var(--text-secondary);
    text-transform: uppercase;
    font-family: var(--font-family-sans);
    font-weight: 600;
  }

  header hr {
    min-width: 100px;
    width: 30%;
  }
</style>
